body {
    font-family: 'Fredoka One', cursive;
    background-image: url("../../backgoundimg.jpg")
}

.jumbotron{
    opacity:0.9;
}
.food{
    display: inline-block;
    padding: 5px;
}

p {
    background: lightgreen;
    color: black;
}
.food-btn{
    margin:5px;
}